.hat-details {
    display: grid;
    place-items: center;

    margin: 2em 0;

    text-align: center;
}

.empty-hat {
    display: grid;
    place-items: center;
    margin: 5em;
    font-size: 2em;
}

.empty-hat button{
    margin: 2em;
}