.grid-card {

    display: grid;
    place-items: center;
}

.detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid;
    border-radius: 25%;
    background-color: white;
    max-width: 80vw;
    min-height: 80vh;
    margin: 2em 0;
}

.detail img {
    max-height: 65vh;
}

.detail p {
    margin: 0.25em 5em;
    display: flex;
}

.detail button {
    margin: 0.2em 0;
}